body {
    font-family: 'Abel', sans-serif;
    margin: 0;
}

ul {
    list-style-type: none;
}

header {
    display: flex;   
    justify-content: space-between;
    background-color: darkblue;
    height: 125px;
    align-items: center;
    width: 100%;
}

.title {
    width: 20%;
    background-color: lightblue;
    font-size: 300%;
    color: darkblue;
    text-align: right;
    padding: 20px 20px;
    
}

.nav-point-list {
    display: flex;
}

.nav-point-list li {
    margin: 0 10px;
    font-size: 28px;
    border-bottom: 5px solid lightblue;
}

.nav-point-list li a {
    text-align: center;
    text-decoration: none;
    color: lightblue;
}

.banner img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.banner h1 {
    padding: 20px;
    position: absolute;
    top: 300px;
    right: 10%;
    background-color: lightblue;
}

.portfolio-section {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
}

.portfolio-section h2 {
    width: 350px;
    padding-right: 10px;
    font-size: 250%;
    text-align: right;
    color: darkblue;
    border-right: 5px solid darkblue;
    
}

.aboutme-text {
    flex-basis: 60%;
    flex-grow: 1;
    background-color: aqua;
    margin-left: 20px;
    font-size: 24px;
}

.aboutme-text p {
}

.contact-stuff {
    display: flex;
    flex-flow: row wrap;
}

.contact-stuff li {
    margin: 20px 20px;
    font-size: 24px;
    border-bottom: 5px solid darkblue;
}

.contact-stuff li a {
    text-align: center;
    text-decoration: none;
    color: darkblue;
}

@media screen and (max-width: 1200px) {
    body {
        margin: 0;
    }
    
    header {
        flex-direction: column;
        height: 200px;
    }

    .title {
        width: 100%;
        background-color: lightblue;
        font-size: 300%;
        color: darkblue;
        text-align: center;
        padding: 20px 0;
        margin: 0;
    }

    .nav-point-list li {
        margin: 0 10px;
        font-size: 18px;
        border-bottom: 5px solid lightblue;
    }

    .aboutme-text p {
        font-size: 16px;
    }

    .portfolio-section {
        flex-flow: column nowrap;
    }
}